
<%= form_for(@post) do |f| %>
  <div class="form-group">
   <h2>Create post</h2>
      <%= f.text_area :content, class: 'form-control', autofocus: true,
          placeholder: 'What\'s up?' %>
      <label for=":attachment">Upload image</label>
      <%= f.file_field :attachment, class: 'form-control' %>
  </div>
  <%= f.submit :post, class: 'btn btn-primary'%>
<% end %>
